ion-title {
  color: #0F857C ;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
}

:host {
  .item-interactive.ion-invalid {
    --highlight-background: #0F857C  !important;
  }

  .item-interactive.ion-valid {
    --highlight-background: #0F857C  !important;
  }
}

:host(.radio-checked) .radio-icon {
  border-color: #0F857C  !important;
}

ion-select {
  width: 100%;
}



ion-item {
  z-index: 0;
}

ion-buttons {
  color: #0F857C  !important;
  font-size: 1.5rem;
  padding-left: 0.5em;
}

.tick-marks {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: -10px 0 0 0;
  padding: 0 10px;

  li {
    // color: #333; /* var(--ion-color-dark); */
    position: relative;
    margin-left: 3px;

    &::before {
      // background-color: #333; /* var(--ion-color-dark); */
      // content: '';
      display: block;
      height: 1em;
      left: 50%;
      position: absolute;
      width: 1px;
      top: -20px;
    }
  }
}

.main {
  margin: 2rem 2rem 0;
  text-align: center;

  .btnSelect {
    justify-content: space-between;
    display: flex;
  }

  #textDistance {
    text-align: initial;
    font-size: 0.9rem;
  }

  


  .gps{
      button {
        height: 3rem;
        width: 15em;
        background-color: #0F857C ;
        color: white;
        border-radius: 30px;
        font-size: 15px;
      }
      #map {
        width: 100%;
        // height: 450px;
        height: 30em;
        background: grey;
      }
  }

  button {
    background-color: #0F857C ;
    color: white;
    font-size: 15px;

    &#createBtn {
      height: 3rem;
      border-radius: 30px;
      width: 20em;
    }
  }

  #addLanguageBtn {
    background-color: white;
    color: black;
    font-size: 15px;
    height: 2rem;
    font-weight: bolder;
    border-radius: 30px;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    width: 10em;
  }

  #addLanguage {
    background-color: #0F857C ;
    color: black;
    font-size: 15px;
    height: 2rem;
    font-weight: bold;
    border-radius: 30px;
    width: 11em;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  }


  .btnOptions {
    margin-top: 0.6rem;

    button {
      margin-left: 0.3rem;
      width: 2.5rem;
      height: 1.7rem;
      border-radius: 5px;

      &.unselected {
        background-color: #848480;
      }

      &.selected {
        background-color: #0F857C ;
      }
    }

    &.localization {
      button {
        &#deviceBtn {
          width: 5rem;
        }
      }
    }
  }

  .divError {
    text-align: center;

    .error {
      font-size: small;
      color: red;
    }
  }
}


.modalError {
  text-align: center;
  left: 52%;
  top: 35%;
  margin: -100px 0 0 -150px;
  position: fixed;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;
  width: 18rem;

  #divBtn {
    .btn {
      height: 3rem;
      width: 7em;
      background-color: #0F857C ;
      color: white;
      border-radius: 30px;
      font-size: 15px;
    }
  }

  p {
    font-size: 0.9rem;
  }

  &.hidden {
    display: none;
  }

  #divBtn {
    .btn {
      height: 3rem;
      width: 9em;
      margin-bottom: 1em;
    }
  }

  .closeIcon {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-bottom: -1em;
    text-align: end;
    color: white;
    font-size: 1.7rem;
    background-color: rgb(217, 119, 119);
    padding-bottom: 4rem;

    ion-icon {
      margin: 1rem 1rem 0 0;
    }

    #circle {
      text-align: center;
      border-radius: 50%;
      height: 3.5rem;
      padding: 0.3rem;
      margin: 0 7rem;
      border: 5px solid white;

      span {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

  .modalBody {
    padding: 1rem 1rem 0;
  }

}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;

  &.hidden {
    display: none;
  }
}



.modalCVSent {
  text-align: center;
  padding: 1rem 1rem 0;
  position: absolute;
  background-color: white;
  top: 10%;
  right: 25px;
  bottom: 200px;
  left: 25px;
  border: 1px solid #ddd;
  border-radius: 15px;
  z-index: 2;

  &.hidden {
    display: none;
  }

  .closeIcon {
    margin-bottom: -1em;
    text-align: end;
    color: #0F857C ;
    font-size: 1.7rem;
  }

  #divBtn {
    .btn {
      height: 2rem;
      width: 100%;
      background-color: #0F857C ;
      color: white;
      border-radius: 30px;
      font-size: 1rem;
    }
  }

  .selectPhotoMode {
    display: block;

    img {
      width: 10rem;
    }

    h4 {
      color: #0F857C ;
    }

    p {
      font-family: 'Lato', sans-serif;
      font-size: 15px;
    }
  }
}