<ion-header>
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-icon (click)="goBack()" name="arrow-back-outline"></ion-icon>
        <ion-title>{{headerTitle}}</ion-title>
      </ion-buttons>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="selectView" *ngIf="userData && signUpPage == ''">
    <button (click)="createUserType('USER')">
      <img [ngClass]="{'hidden': userData.userType === 'EMPLOYER'}" class="checkType1"
        src="../../../assets/images/selected_check.png" alt="" srcset="">
      <img src="../../../assets/images/job_search_icon.png" alt="" srcset=""><br>
      <p>Busco empleo</p>
    </button>


    <button (click)="createUserType('EMPLOYER')">
      <img [ngClass]="{'hidden': userData.userType === 'USER'}" class="checkType2"
        src="../../../assets/images/selected_check.png" alt="" srcset="">
      <img src="../../../assets/images/job_offer_icon.png" alt="" srcset=""><br>
      <p>Ofrezco empleo</p>
    </button>
  </div>


  <div (click)="openPhotoModal()" *ngIf="signUpPage == 'USER' || signUpPage == 'EMPLOYER'" id="btnCameraProfilePhoto">
    <img *ngIf="base64Img == '' || base64Img == undefined " src="../../../assets/images/camera.png" alt="" srcset="">
    <img *ngIf="base64Img != ''" src={{base64Img}} alt="" srcset="">
  </div>

  <section class="modalCamera hidden">
    <div>
      <div class="closeIcon" (click)="closePhotoModal()">
        <ion-icon name="close-outline"></ion-icon>
      </div>
      <div class="selectPhotoMode">
        <button (click)="pickImageCamera()">
          <img src="../../../assets/images/select_photo.png" alt="" srcset=""><br>
          <p>Tomar foto</p>
        </button>

        <button (click)="pickImageLibrary()">
          <img src="../../../assets/images/select_gallery.png" alt="" srcset=""><br>
          <p>Abrir galería</p>
        </button>
      </div>
    </div>
    <br>
  </section>
  <section class="modal hidden">
    <div>
      <h2>Seleccione la fecha deseada</h2>
      <div class="selectDayInputs">
        <ion-item>
          <ion-label position="floating">Día</ion-label>
          <ion-input [(ngModel)]="birthDay" maxlength="2" type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Mes</ion-label>
          <ion-input [(ngModel)]="birthMonth" maxlength="2" type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Año</ion-label>
          <ion-input [(ngModel)]="birthyear" maxlength="4" type="tel"></ion-input>
        </ion-item>
      </div>
      <div class="divError">
        <span class="error" *ngIf="incompletedFields">
          Debe de completar los campos de día, mes y año.
        </span>
        <span class="error" *ngIf="wrongDay">
          El día debe ser un valor de entre 1 y 31.
        </span>
        <span class="error" *ngIf="wrongMonth">
          El mes debe ser un valor de entre 1 y 12.
        </span>
        <span class="error" *ngIf="wrongyear">
          El año debe ser mayo a 1900.
        </span>
      </div>
    </div>
    <br><br>
    <div id="divBtn">
      <button class="btn" (click)="setBirthDate()">Finalizar</button>
    </div>
  </section>

  <section id="modalErrorRegisterAcc" class="modalError hidden">
    <div>
      <div class="closeIcon" (click)="closeModalError()">
        <ion-icon name="close-outline"></ion-icon>
        <div id="circle">
          <span>X</span>
        </div>
      </div>
      <br />
      <div class="modalBody">
        <h2>¡Error!</h2>
        <p>{{modalErrroBody}}</p>
      </div>
    </div>
    <br />
    <br />
    <div id="divBtn">
      <button class="btn" (click)="closeModalError()">
        Volver a intentar
      </button>
    </div>
  </section>
  <div class="overlay hidden" id="overlayErrorRegisterA" (click)="closeModalError();"></div>


  <div class="overlay hidden" id="overlayCameraA" (click)="closePhotoModal();"></div>
  <div class="overlay hidden" id="overlayDateA" (click)="closeDateModal();"></div>



  <!-- Form for register user  -->
  <div *ngIf="signUpPage == 'USER'" id="cardUserForm">

    <form [formGroup]="userSignUpForm">
      <ion-item>
        <ion-label position="floating">Nombre</ion-label>
        <ion-input formControlName="name" type="text"></ion-input>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControlUserForm.name.errors?.required">
          Nombre requerido
        </span>
      </div>
      <br>

      <ion-item>
        <ion-label position="floating">Apellidos</ion-label>
        <ion-input formControlName="lastName" type="text"></ion-input>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControlUserForm.lastName.errors?.required">
          Apellidos requeridos
        </span>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input [disabled]="true" formControlName="email" type="email"></ion-input>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControlUserForm.email.errors?.required">
          Correo electrónico requerido
        </span>
        <span class="error" *ngIf="isSubmitted && errorControlUserForm.email.errors?.email">
          Formato inválido
        </span>
      </div>
      <br>
      <br>
      <ion-item (click)="openDateModal()">
        <ion-label>{{birthDateValue}}</ion-label>
        <ion-icon name="calendar-outline"></ion-icon>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControlUserForm.birthDate.errors?.required">
          Fecha de nacimiento requerida
        </span>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating">Número de teléfono</ion-label>
        <ion-input formControlName="phoneNumber" type="tel"></ion-input>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControlUserForm.phoneNumber.errors?.required">
          Núero de teléfono requerido
        </span>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating">¿Cómo recibir las notificaciones?</ion-label>
        <ion-select formControlName="notifications" interface="popover">
          <ion-select-option value="MAIL">Correo electrónico</ion-select-option>
          <ion-select-option value="PHONE">Teléfono y correo electrónico</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControlUserForm.notifications.errors?.required">
          Seleccione un medio para las notificaciones
        </span>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" [type]="passwordType" clearOnEdit="false"></ion-input>
        <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControlUserForm.password.errors?.required">
          Contraseña requerida
        </span>
      </div>
    </form>
    <br><br>
    <button (click)="registerUserAccount()">Registrar</button><br><br><br>
  </div>
  <!-- End Form for register user  -->

  <!-- Form for register employer  -->
  <div *ngIf="signUpPage == 'EMPLOYER'" id="cardUserForm">
    <form [formGroup]="companySignUpForm">

      <ion-item>
        <ion-label position="floating">Nombre de la empresa</ion-label>
        <ion-input formControlName="companyName" type="text"></ion-input>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControlCompanyForm.companyName.errors?.required">
          Nombre es requerido
        </span>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating">Descripción de la empresa</ion-label>
        <ion-input formControlName="description" type="text"></ion-input>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControlCompanyForm.description.errors?.required">
          Descripción es requerida
        </span>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input [disabled]="true" formControlName="email" type="email"></ion-input>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControlCompanyForm.email.errors?.required">
          Correo electrónico requerido
        </span>
        <span class="error" *ngIf="isSubmitted && errorControlCompanyForm.email.errors?.email">
          Formato inválido
        </span>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating">Número telefónico</ion-label>
        <ion-input formControlName="phoneNumber" type="tel"></ion-input>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControlCompanyForm.phoneNumber.errors?.required">
          Núero de teléfono requerido
        </span>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating">Cédula jurídica (opcional)</ion-label>
        <ion-input formControlName="enterprise_ID" type="text"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label position="floating">Nombre del empleador</ion-label>
        <ion-input formControlName="employerName" type="text"></ion-input>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControlCompanyForm.employerName.errors?.required">
          Nombre requerido
        </span>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input formControlName="password" [type]="passwordType" clearOnEdit="false"></ion-input>
        <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControlCompanyForm.password.errors?.required">
          Contraseña requerida
        </span>
      </div>
    </form>
    <br><br>
    <button (click)="registerEmployerAccount()">Registrar</button><br><br><br>
  </div>
  <!-- End Form for register employer  -->

  <ngx-loading [show]="isLoading" [config]="{
    animationType: ngxLoadingAnimationTypes.circle,
    primaryColour: primaryColour,
    backdropBorderRadius: '3px',
    fullScreenBackdrop:true
  }"></ngx-loading>

</ion-content>