<ion-header>
  <ion-toolbar>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
        <ion-title>¿Olvidó la contraseña?</ion-title>
      </ion-buttons>
    </ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content id="cardLoginForm">

  <div class="support">
    <section class="modalError hidden" id="modalError">
      <div>
        <div class="closeIcon" (click)="closeModalError()">
          <ion-icon name="close-outline"></ion-icon>
          <div id="circle">
            <span>X</span>
          </div>
        </div>
        <br />
        <div class="modalBody">
          <h2>¡Error!</h2>
          <p>{{modalErrroBody}}</p>
        </div>
      </div>
      <br />
      <br />
      <div id="divBtn">
        <button class="btn" (click)="closeModalError()">
          Volver a intentar
        </button>
      </div>
    </section>
  </div>
  <div class="overlay hidden" id="overlay" (click)="closeModalError();"></div>


  <div *ngIf="!isPasswordRecovered">
    <br><br>
    <form [formGroup]="recoveryForm">
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControl.email.errors?.required">
          Correo electrónico requerido
        </span>
        <span class="error" *ngIf="isSubmitted && errorControl.email.errors?.email">
          Formato inválido
        </span>
      </div>
    </form>
    <br><br>
    <button (click)="recoverPassword()">Recuperar</button><br><br><br>
  </div>

  <div *ngIf="isPasswordRecovered">
    <br>
    <form [formGroup]="passwordRecoveryForm">
      <ion-item>
        <ion-label position="floating">Contraseña temporal</ion-label>
        <ion-input formControlName="temporalPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
        <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControRecoveredPassword.temporalPassword.errors?.required">
          Contraseña temporal requerida
        </span>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating">Contraseña nueva</ion-label>
        <ion-input formControlName="newPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
        <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControRecoveredPassword.newPassword.errors?.required">
          Nueva contraseña requerida
        </span>
      </div>
      <br>
      <ion-item>
        <ion-label position="floating">Confirmar contraseña</ion-label>
        <ion-input formControlName="confirmNewPassword" [type]="passwordType" clearOnEdit="false"></ion-input>
        <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
      </ion-item>
      <div class="divError">
        <span class="error" *ngIf="isSubmitted && errorControRecoveredPassword.confirmNewPassword.errors?.required">
          Debe confirmar contraseña
        </span>
      </div>

      <div class="divError" *ngIf="!samePassword()">
        <span class="error">
          Contraseñas no coinciden
        </span>
      </div>
    </form>
    <br><br>
    <button (click)="updatePassword()">Finalizar</button><br><br><br>
  </div>

</ion-content>
<ngx-loading [show]="isLoading" [config]="{
        animationType: ngxLoadingAnimationTypes.circle,
        primaryColour: primaryColour,
        backdropBorderRadius: '3px',
        fullScreenBackdrop:true}"></ngx-loading>

<br>
<footer *ngIf="!isPasswordRecovered">
  <span class="infoText">¿No tienes una cuenta?, <span (click)="registerAccount()" id="registerSpan">registrate</span></span>

</footer>