ion-title {
    color: #00A19A;
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem;
}

:host {
    .item-interactive.ion-invalid {
        --highlight-background: #00a19a !important;
    }

    .item-interactive.ion-valid {
        --highlight-background: #00a19a !important;
    }
}

:host(.radio-checked) .radio-icon {
    border-color: #00a19a !important;
}


.logoutBtn {
    width: 1.5rem;
    position: absolute;
    margin-top: 0.8rem;
    margin-left: 0.8rem;
    z-index: 999;
}

.tick-marks {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: -10px 0 0 0;
    padding: 0 10px;
  
    li {
      // color: #333; /* var(--ion-color-dark); */
      position: relative;
      margin-left: 3px;
  
      &::before {
        // background-color: #333; /* var(--ion-color-dark); */
        // content: '';
        display: block;
        height: 1em;
        left: 50%;
        position: absolute;
        width: 1px;
        top: -20px;
      }
    }
  }

ion-item {
    z-index: 0;
}

ion-buttons {
    color: #00a19a !important;
    font-size: 1.5rem;
    padding-left: 0.5em;
}

.main {
    margin: 2rem 1rem;
    text-align: center;

    .btnSelect {
        justify-content: space-between;
        display: flex;
    }

    .userGrades {
        p {
            text-align: left;
            color: gray;
        }

        hr {
            border-top: 1px solid gray;
        }

        width: 100%;
        justify-content: space-between;

        div {
            border: 1px solid;
            float: left;
            padding: 3px 8px;
            background: #ccc8c8;
            font-size: 15px;
            text-align: justify;
            border-radius: 30px;
            margin-right: 0.3em;
            margin-left: 0.5em;
            margin-bottom: 0.5em;

            button {
                background: #ccc8c8;
                font-size: 15px;
                margin-left: 5px;
            }
        }
    }

    #textDistance {
        text-align: initial;
        font-size: 0.9rem;
    }

    #addLanguageBtn {
        background-color: white;
        color: black;
        font-size: 15px;
        height: 2rem;
        font-weight: bolder;
        border-radius: 30px;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
        width: 10em;
    }

    #addLanguage {
        background-color: white;
        color: black;
        font-size: 15px;
        height: 2rem;
        font-weight: bold;
        border-radius: 30px;
        width: 11em;
        box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    }


    .btnOptions {
        margin-top: 0.6rem;

        button {
            margin-left: 0.3rem;
            width: 2.5rem;
            height: 1.7rem;
            border-radius: 5px;
            color: white;

            &.unselected {
                background-color: #848480;
            }

            &.selected {
                background-color: #00A19A;
            }
        }

        &.localization {
            button {
                &#deviceBtn {
                    width: 5rem;
                }
            }
        }
    }

    .noOffers {
        position: absolute;
        left: 0;
        right: 0;
        text-align: inherit;
        top: 30%;
    }

    .addOffer {
        text-align: center;
        margin-top: 2em;

        button {
            background: #005989;
            box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
            border-radius: 50%;
            padding: 0.5rem;

            ion-icon {
                color: white;
                font-size: 2.5rem;
            }
        }
    }
}


.modalError {
    text-align: center;
    left: 52%;
    margin: -100px 0 0 -150px;
    position: fixed;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
    top: 33%;
    width: 18rem;

    p {
        font-size: 0.9rem;
    }

    &.hidden {
        display: none;
    }

    #divBtn {
        .btn {
            height: 3rem;
            width: 9em;
            background-color: #00A19A;
            color: white;
            border-radius: 30px;
            margin-bottom: 1em;
            font-size: 15px;
        }
    }



    .closeIcon {
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        margin-bottom: -1em;
        text-align: end;
        color: white;
        font-size: 1.7rem;
        background-color: rgb(217, 119, 119);
        padding-bottom: 4rem;

        ion-icon {
            margin: 1rem 1rem 0 0;
        }

        #circle {
            text-align: center;
            border-radius: 50%;
            height: 3.5rem;
            padding: 0.3rem;
            margin: 0 7rem;
            border: 5px solid white;

            span {
                font-size: 2rem;
                font-weight: bold;
            }
        }
    }

    .modalBody {
        padding: 1rem 1rem 0;
    }

}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;

    &.hidden {
        display: none;
    }
}

.ionListItem {
    text-align: initial;

    hr {
        border-top: 1px solid gray;
    }

    p {
        font-weight: bold;

        &.jobName {
            color: #00a19a;
        }

        span {
            font-weight: 400;
        }
    }

    ;
}

.optionsBtn {
    width: 100%;
    padding-top: 1em;

    ion-icon {
        font-size: 24px;
        margin-right: 1em;
        color: gray;
    }

    .divSvg {
        text-align: end;
        margin-top: -3em;
    }

    svg {
        width: 1.5em;
        margin-right: 2em;
    }

    span {
        color: #00a19a;
        margin-left: 5px;
    }

    .likeOptions {
        width: 8%;
        margin-right: 1em;
    }

    &.likesCandidate {
        position: absolute;
        right: 0;
        margin-top: -1em;

        .likeOptions {
            width: 35px;
            height: 35px;
            margin-right: 1em;
            border-radius: 50%;
            border: 1px solid;

            ion-icon {
                padding: 3px;
            }
        }
    }
}

ion-fab {
    position: fixed;
    margin-bottom: 3em;
    margin-right: 1em;
}

.candidateList {
    text-align: center;
    color: gray;

    .noData {
        text-align: center;
    }

    p {
        font-weight: 300;
    }

    .name {
        font-weight: bolder;
    }




    .matchesData {
        text-align: start;
        font-size: 14px;
        font-weight: 600;
        display: flex;

        .divSvg {
            width: 2em;
            margin-right: 2em;
        }
    }

    .div100_match {
        text-align: end;
        margin-bottom: -0.5em;

        span {
            margin-top: 0.5em;
        }

        label {
            background: gray;
            font-size: 12px;
            color: white;
        }
    }


}

.modalCamera {
    text-align: center;
    padding: 1rem 1rem 0;
    position: sticky;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
    top: 15%;

    &.hidden {
        display: none;
    }

    .closeIcon {
        margin-bottom: -1em;
        text-align: end;
        color: #00A19A;
        font-size: 1.7rem;
    }

    #divBtn {
        .btn {
            height: 2rem;
            width: 100%;
            background-color: #00a19a;
            color: white;
            border-radius: 30px;
            font-size: 1rem;
        }
    }

    .selectPhotoMode {
        img {
            width: 10rem;
        }

        h4 {
            color: #00A19A;
        }

        p {
            font-family: 'Lato', sans-serif;
            font-size: 15px;
        }
    }
}



.modalCVSent {
    text-align: center;
    padding: 1rem 1rem 0;
    position: fixed;
    background-color: white;
    right: 25px;
    bottom: 200px;
    left: 25px;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;

    &.hidden {
        display: none;
    }

    .closeIcon {
        margin-bottom: -1em;
        text-align: end;
        color: #00A19A;
        font-size: 1.7rem;
    }

    #divBtn {
        .btn {
            height: 2rem;
            width: 100%;
            background-color: #00a19a;
            color: white;
            border-radius: 30px;
            font-size: 1rem;
        }
    }

    .selectPhotoMode {
        display: block;

        img {
            width: 10rem;
        }

        h4 {
            color: #00A19A;
        }

        p {
            font-family: 'Lato', sans-serif;
            font-size: 15px;
        }
    }


}

.updateBtn {
    height: 2.5rem;
    width: 14em;
    background-color: #00A19A;
    color: white;
    border-radius: 30px;
    margin-bottom: 1em;
    font-size: 15px;
}

.languageExpSelect {
    display: table-caption;
    margin-top: 1em;

    span {
        margin-left: 1em;
    }
}

.ClockSizes {
    display: flex;
    justify-content: space-between;

    ion-radio {
        margin-left: 10px;
        z-index: auto;
        margin-right: 5px;
    }
}

.gps {
    position: fixed;
    right: 0;
    left: 0;

    button {
        height: 3rem;
        width: 15em;
        background-color: #00A19A;
        color: white;
        border-radius: 30px;
        font-size: 15px;
    }

    #map {
        width: 100%;
        // height: 450px;
        height: 25em;
        background: grey;
    }
}

.divError {
    text-align: center;

    .error {
        font-size: small;
        color: red;
    }
}


.userInfoPage {

    text-align: start;
    margin-top: -3em;

    ion-item-divider {
        flex-direction: column !important;
        align-items: flex-start !important;
        border: none;
        margin-bottom: 7px;
    }

    ngx-star-rating {
        pointer-events: none;
    }

    h4 {
        color: #00a19a;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .bolder {
        font-weight: bold;
    }

    //   .like {
    //     color: #00A19A;
    //     border-color: #00A19A;
    //   }

    //   .dislike {
    //     color: red;
    //     border-color: red;
    //   }

    .custom-btn {
        height: 3rem;
        width: 80%;
        background-color: #00A19A;
        color: white;
        font-size: 15px;
        border-radius: 30px;
    }

    .custom-icon-header {
        position: absolute;
        left: 5%;
        z-index: 1000;
    }

    .div-btn-m {
        top: 90%;
        right: 0;
        left: 0;
        position: fixed;
        margin-bottom: 30px;
    }

    .optionsBtn {
        &.likesCandidate {
            position: fixed;
            right: 0;
            top: 82%;
            left: 0;

            ion-icon {
                padding: 4px;
            }
        }
    }

    .custom-btn-report {
        text-transform: none;
        height: 30px;
    }

    .custom-rating-div {
        width: 90%;
        margin: auto;
        display: flex;
        align-items: center;
    }

    .p-color {
        color: #666666;
    }

    .header-border {
        border-bottom: 1px solid gainsboro;
        width: 90%;
        margin: auto;
    }

    .comment-border {
        border-bottom: 1px solid gainsboro;
        margin-top: 7px;
        margin-bottom: 7px;
    }

    .custom-w {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

}

.calificateUserPage {
    margin-top: -3em;

    ion-icon {
        position: absolute;
        left: 5%;
        z-index: 1000;
    }

    ion-item {
        width: 100%;
    }

    ion-item-divider {
        flex-direction: column !important;
        align-items: flex-start !important;
        border: none;
        margin-bottom: 7px;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: inherit;
    }


    button {
        height: 3rem;
        width: 80%;
        background-color: #00A19A;
        color: white;
        border-radius: 30px;
        font-size: 15px;
    }

    h4 {
        color: #00a19a;
        text-align: center;
        margin-top: 20px;
    }

    .header-border {
        border-bottom: 1px solid gainsboro;
        width: 90%;
        margin: auto;
    }

    .custom-w {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .div-btn-m {
        margin-top: 50px;
        margin-bottom: 30px;
    }

}


.reportPage {
    p {
        text-align: initial;
        margin-left: 1em;
    }

    ion-button {
        margin-top: 10rem;
    }

    position: absolute;
    left: 0;
    right: 0;
    margin: 0em 1em;
    top: 5%;
    text-align: center;

    .divError {
        text-align: center;

        .error {
            font-size: small;
            color: red;
        }
    }
}

#divBtn3 {
    .btn3 {
        height: 3rem;
        width: 9em;
        background-color: white !important;
        color: gray !important;
        border-radius: 30px;
        margin-bottom: 1em;
        font-size: 15px;
    }
}


#divBtn4 {
    .btn4 {
        height: 3rem;
        width: 100%;
        background-color: #00A19A !important;
        color: white !important;
        border-radius: 30px;
        margin-bottom: 1em;
        font-size: 15px;
    }
}